<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta name="description" content="SeedVR2.">
  <meta name="keywords" content="Diffusion transformer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SeedVR2</title>

  <link rel="stylesheet" href="{{ '/assets/seedvr2/bulma.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/seedvr2/bulma-carousel.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/seedvr2/bulma-slider.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/seedvr2/fontawesome.all.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/seedvr2/academicons.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/seedvr2/index.css' | relative_url }}">

  <script src="{{ '/assets/seedvr2/jquery.min.js' | relative_url }}"></script>
  <script defer="" src="{{ '/assets/seedvr2/fontawesome.all.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/seedvr2/bulma-carousel.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/seedvr2/bulma-slider.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/seedvr2/index.js' | relative_url }}"></script>

  <link rel="stylesheet" href="{{ '/assets/seedvr2/tab_gallery.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/seedvr2/juxtapose.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/seedvr2/image_card_fader.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/seedvr2/image_card_slider.css' | relative_url }}">

  <link rel="stylesheet" href="{{ '/assets/seedvr2/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/seedvr2/twentytwenty.css' | relative_url }}">
<script type="text/javascript" src="{{ '/assets/seedvr2/jquery-1.12.4.min.js' | relative_url }}"></script><script type="text/javascript" src="{{ '/assets/seedvr2/counter.js' | relative_url }}" data-id="2247583"></script></head>
<body>

{{ content }}

<script src="{{ '/assets/seedvr2/bulma-carousel.min.js' | relative_url }}"></script>
<script src="{{ '/assets/seedvr2/bulma-slider.min.js' | relative_url }}"></script>
<script src="{{ '/assets/seedvr2/index.js' | relative_url }}"></script>
<script src="{{ '/assets/seedvr2/jquery.event.move.js' | relative_url }}"></script>
<script src="{{ '/assets/seedvr2/jquery.twentytwenty.js' | relative_url }}"></script>
<script>
$(function(){
  $(".twentytwenty-container").twentytwenty();
});
</script>

</body></html>
